# Ignore the following directories (note that only target is ignored so the cargo.lock and cargo.toml stay)
_num_guess/target/
_yes/target/
_remember/target/
_io_test/target/
_gamble/target/
_async/target/
