# Ignore the following directories
_num_guess/*
_yes/*
_decho/*
_remember/*
_io_test/*
_gamble/*

# Allow tracking of the src directories within the above
!_num_guess/src/
!_yes/src/
!_decho/src/
!_remember/src/
!_io_test/src/
!_gamble/src/